body{
text-align: center;
background-image: url('./Pictures/Background.JPG');
background-size:cover;
}
canvas{
margin-top:-5%;
}
#name{
font-family:'Bilbo';
font-weight: bold;
color:maroon;
}
#fs{
font-family:'Bahianita';
color:maroon;
}
#button {
background: black; 
font-family: 'Julee';
}
#articleheading{
font-family:'Bahianita';
color:maroon;
}
#sd{
border: 2px solid black;
border-image:linear-gradient(-20deg, red, black, yellow, purple);
border-image-slice:1;
position: relative;
padding: 3%;
font-size:18px;
font-family:'Bahianita';
color:darkgrey;
opacity: 80%;
}
#details{
margin-top:-23%;    
position:relative
}
#iframe{
float: right;
}
#techs{
font-family: 'Julee';
color:darkgrey;
font-size:15px;
}
#Pro{
font-family:'Julee';
color:darkgrey;
}
#connections{
    font-family:'Bahianita';
    color:maroon;
    background: black;
}

.fa {
    padding: 20px;
    font-size:40px;
    width:80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      color: maroon;
  }
  #h5{
    font-family:'Bahianita';
    color: maroon;
  }
  .thumbnail{
    background-color: black;
    height: 315px;
  }
  